<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="">
  <div class="">
    <h3>Post a Bicycle for Sale:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="selling-price">Selling Price ($):</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="selling-price">Bike Type:</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <label for="selling-price">Bike Brand:</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <label for="selling-price">Frame Size:</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <label for="selling-price">Wheel Size:</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <label for="selling-price">Color:</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <label for="selling-price">Condition:</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <label for="selling-price">Your Zipcode:</label>
        <input class="form-input" type="number" id="selling-price" name="selling-price" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
