<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bikr - The place to buy and sell bicycles across NYC</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
<body>
  <header class="containerClass; width: 100%">
      <!-- logo will be displayed at the left side of the header -->
      <a href="/"><img src="images/bikr-logo-long-red.png" style="max-width:150px; padding: 10px; float: left;"></a>
      <!-- login/logout buttons will be displayed at the right of the screen -->
      <nav style="float: right;">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <button><a href="/profile">My Profile</a></button> |
        <button id="logout">Log Out</button>
        {{else}}
        <button><a class="button" href="/login">Sign In</a></button>
        {{/if}}
      </nav>
  </header>
  <main>
      <!-- Render the sub layout -->
      {{{ body }}}
  </main>
  <footer>
  </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>