<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bikr - The place to buy and sell bicycles across NYC</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
<<<<<<< HEAD:develop/views/layouts/main.handlebars
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
=======
 
>>>>>>> main:views/layouts/main.handlebars
</head>

<body>
  <div class="containerClass">
    <header class="">
      <div>
        <a href="/"><img src="images/bikr-logo.png" style="max-width:200px; padding: 10px;"></a>
      </div>
      <nav style="display:flex; flex-direction: column;">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button id="logout">logout</button>
        {{else}}
        <a class="button" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  
  {{/if}}
  
</body>

</html>
