:root{
    --global-section-width: 60%;
    --title-font: 50px;
    --stats-font: 35px;
    --text-content-font: 20px;
}

body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: #d9dadc;
}

header {
    width: var(--global-section-width);
}

footer {
    background-color: white;
}

.containerClass {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: #fff;
    border-radius: 5px;
    background-color: #fff;
    color: #848484;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 20px 5px #ae9a9a;
}

.button {
    background-color:firebrick;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.bike-card {
    display:flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    background-color: #3b3b3b;
    color: white; 
    padding: 10px;
    width:100%;
    box-shadow: 3px 3px 20px 5px #000;
    margin-bottom: 100px;
    transition: 0.4s ease-in-out;
}

/*///adds animation to bike card///*/
.bike-card:hover {
    transform: translate(0, -20px);
}

/*///mobile media queries///*/


@media only screen and (max-width: 400px) {
    
  }

  /*///tablet media queries///*/

@media only screen and (max-width: 768px) {
    
  }
